<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.imclient"
   >
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.example.administrator.imclient.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.example.administrator.imclient.activity.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        <activity android:name="com.example.administrator.imclient.activity.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.example.administrator.imclient.activity.service.ChatService"></service>
        <activity android:name="com.example.administrator.imclient.activity.ChatActivity"></activity>
        <activity android:name="com.example.administrator.imclient.activity.BuddyListActivity"></activity>
        <activity android:name="com.example.administrator.imclient.activity.LoginActivity"></activity>
    </application>

</manifest>
